# Auto detect text files and perform LF normalization
* text=auto

/assets export-ignore
/docs export-ignore
/test.js export-ignore
/ttf.js export-ignore
webpack.*.js export-ignore
*.md export-ignore
.env export-ignore

/package.json export-ignore

.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
