# PORT=8082
# LISTEN=localhost

# ; NOTE: storage
# storage= /storage
# media= /storage/media

# ; NOTE: MySQL
# mysqlConnection = mysql://user@host/databaseName?flags=-FOUND_ROWS
# mysqlConnection = mysql://user:pwd@host/databaseName?flags=-FOUND_ROWS
# mysqlConnection = mariadb://user:pwd@host/databaseName?charset=UTF8_GENERAL_CI
# mysqlConnection = mysql://user:pwd@host/databaseName?debug=true&charset=BIG5_CHINESE_CI&timezone=-0700

# ; NOTE: Mongodb
# mongoConnection = mongodb://localhost:27017/myordbok

# ; NOTE: individual
# restrict = /api:restrictMiddleWare
# referer = myordbok.*

# ; NOTE: msg
# assetMaintaining = "ဝက်ဆိုက် ခေတ္တအဆင့်မြှင့်နေပါသည်၊ အကြာဆုံး (၂) မိနစ် စောင့်ဆိုင်းပေးပါ။"

# ; NOTE: custom
# speechUrl = https://translate.google.com/translate_tts?ie=UTF-8&q=$q&tl=$l&client=tw-ob
# translateUrl = https://translate.google.com/translate_tts?ie=UTF-8&q=$q&tl=$l&client=tw-ob


# https://clients5.google.com/translate_a/t?client=dict-chrome-ex&sl=en&tl=en&q=ungratified
# https://translate.google.com/translate_t?source=dict-chrome-ex&sl=en&tl=my&q=loved
# https://translate.google.com/translate_t?ie=UTF-8&tl=en&q=loved&client=tw-ob

# https://www.google.com/search?source=dict-chrome-ex&defl=en&hl=en&q=love&tbo=1&tbs=dfn:1

# https://clients5.google.com/translate_a/t?client=dict-chrome-ex&sl="+b+"&tl="+q.language+"&q="+encodeURIComponent(a);
# https://translate.google.com/translate_t?source=dict-chrome-ex&sl="+k.srcLang+"&tl="+q.language+"&q="+e);
# https://www.google.com/search?source=dict-chrome-ex&defl="+q.language+"&hl="+q.language+"&q="+e+"&tbo=1&tbs=dfn:1";
# https://www.google.com/search?q=define+"+e);
