div.portal#footer
  div
    div.responsive
      ol.menu.locale
        li.en.active
          a(href="?language=en") en
        li.my
          a(href="?language=my") my
        li.no
          a(href="?language=no") no
        li.zo
          a(href="?language=zo") zo

      ol.served
        li.hits
          span.user(title="Overall hits") 889,994,015,251,376
          span.Hited.by(title="Overall hits") 348
          span served

      ol.copyright
        li.copyright MyOrdbok © 2018

      ol.menu.privacy
        li.privacy
          a(href="/privacy")
            span Privacy
        li.terms
          a(href="/terms")
            span Terms