extends layout

mixin linkName(o)
  //- a(href="/grammar/"+o.info.unique)= o.root.name
  a(href="/grammar/"+o.info.name.replace(/\s/g,'.').toLowerCase())= o.root.name

mixin rootDesc(o)
  p!= o.desc.replace(/\'(.*?)\'/g, "<q>$1</q>")

block content
  div.ptl#content
    div.resz.ltrt
      div.grammar.forPartsofspeech
        div.row.primary.text-centers
          div
            h1= grammar.context.name
            +rootDesc(grammar.context)
            ul.note
              each o in grammar.context.kind
                li
                  strong #{o.name}
                  | #{o.desc}

        div.row.secondary.text-centers
          div.pos
            ul.partsofspeech
              each o in grammar.pos
                li
                  +linkName(o)
                  +rootDesc(o.root)
          div.grammar
            ul.summary
              each o in grammar.other
                li
                  +linkName(o)
                  +rootDesc(o.root)

block footer
  include footer