doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title= title
      base(href='/')
      link(rel='api', href='api')
      link(rel='icon', href='favicon.png' type='image/png')
      script(src='https://code.jquery.com/jquery-3.3.1.min.js')
      script.
        $(function(){
          $(document).MyOrdbok(['suggest ready','toggle menu','zA','zO']);
        });
  body.home
    div.primary
      block bar
        div.portal#bar
          div
            div.navigate
              div.column
                include barPage
              div.column
                include barUser
      block header
      block content
      block footer

    script(type='text/javascript', src='/script.js')
    link(rel='stylesheet', href='/style.css')
