// >div{
//   padding:0px;
// }
&.ltrt{
  padding: 0;
  width: 100%;
}
ul{
  padding-bottom: 10px;
  >li{
    // padding: 20px 0;
    padding-top: 20px;
    padding-bottom: 10px;
    // margin-bottom: 50px;
    >div{
      position: relative;
      height: 35px;
      // margin-top: 3px;
      // margin-bottom: 3px;
      >div{
        height: 30px;
        &.name{
          // display: none;
          // background-image: url(../img/MyOrdbok.png);
          background-image: url(../img/MyOrdbok.logo.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          margin: 0px 35px;
        }
        &.toggle{
          // float: right;
          position: absolute;
          // background-color: red;
          top: 0;
          right: 10px;
          font-size: 24px;
          // color: $ColorMain;
          color: $ColorSecond;
          &::before{
            padding-top: 3px;
          }
          &.active{
            color: $ColorMain;
          }
        }
      }
    }
    // @include user-select();
    >ol{
      display:none;
      text-align: center;
      padding: 3%;
      &.active{
        display: block;
      }
      // background-color: aliceblue;
      >li{
        // display: inline-block;
        padding:4px 4%;
        a {
          display: block;
          // background-color: lighten($ColorMain,35%);
          background-color: darken($ColorBackground,10%);
          color: $ColorMain;
          padding: 10px 20px;
          font-size: 1.3em;
          border-radius:50px;
        }
        &.active{
          a{
            background-color: lighten($ColorMain,20%);
            color: #fff;
          }
        }
      }
    }
    &.active{
      // background-color: lighten($ColorMain,20%);
      // @include box-shadow( 0px, 3px, 2px, 0px, darken($ColorMain,20%));
      background-color: darken($ColorBackground,3%);
      @include box-shadow(inset, 0px, -2px, 3px, 0px, darken($ColorBackground,20%));
      >ol{
        display: block;
      }
    }
  }
}

// @at-root body >div {
//   // padding-top: 50px;
//   background-color: red;
// }
