
div.column {
  ol#MyOrdbok-logo{
    display: none;
  }
  form[name=search]{
    // width: 98%; margin:2px 1%;
    // @include box-shadow(0px, 0px, 5px, 1px, darken(#ccc,3%));
    @include box-shadow(0px, 0px, 3px, 0px, darken($ColorBackground,35%));
    >p{
      input,button{
        height:40px;
        font-size:1.1em;
        line-height:1.2em;
      }
      button{
        &[type=submit]{
          width: 50px;
          border:0;
          // background-color: #fff;
        }
      }
    }
    ul {
      li{
        // padding:15px 10px;
        font-size: 1.2em;
        &:first-child{padding-top:15px;}
        &:last-child{padding-bottom:15px;}
      }
    }
  }
}
