&.grammar {
  ol.mynum {
    list-style: none;
    li:nth-child(1):before {content: "၁";}
    li:nth-child(2):before {content: "၂";}
    li:nth-child(3):before {content: "၃";}
    li:nth-child(4):before {content: "၄";}
    li:nth-child(5):before {content: "၅";}
    li:nth-child(6):before {content: "၆";}
    li:nth-child(7):before {content: "၇";}
    li:nth-child(8):before {content: "၈";}
    li:nth-child(9):before {content: "၉";}
    li:nth-child(10):before {content: "၁၀";}
    li:nth-child(11):before {content: "၁၁";}
    li:nth-child(12):before {content: "၁၂";}
    li:nth-child(13):before {content: "၁၃";}
    li:nth-child(14):before {content: "၁၄";}
    li:nth-child(15):before {content: "၁၅";}
    li:nth-child(16):before {content: "၁၆";}
    li:nth-child(17):before {content: "၁၇";}
  }
  table{
    border-collapse: collapse;
    // border: 1px solid black;
    vertical-align: middle;
    padding: 5px;
    margin: 10px 2px;
    // min-width: 400px;
    width: 90%;
    thead{
      background-color: lighten(grey, 45%);
      // padding: 5px;
      // border-bottom: 1px solid lighten(grey, 20%);
    }
    th{
      font-size: 90%;
      &.chain{
        color: lighten($ColorMain,10%);
      }
    }
    // tr{
    //   // border-left: 1px solid black;
    // }
    // th,td {
    //   // padding: 5px 7px;
    //   padding: 5px;
    //   border: 1px solid lighten(grey, 20%);
    //   &:first-child{
    //     // border-left:0;
    //   }
    // }
    th,td{
      padding: 5px;
      border: 1px dotted lighten(grey, 20%);
      line-height: 30px;
      &:first-child{
        border-left: 0;
      }
      &:last-child{
        border-right: 0;
      }

    }
    td.chain{
      color: darken($ColorMain,0%);
      background-color: lighten(grey, 47%);
    }
  }
  section{
    padding: 15px;
    p{
      color: $ColorSecond;
      font-weight: lighter;
      font-size: 95%;
    }
    ol {
      padding-left: 15px;
      li {
        margin: 2px;
        &::before{
          display: inline-block;
          width: 30px;
          text-align: center;
          margin-right: 5px;
          // font-size: 90%;
          // color: $ColorSecond;
          background-color: lighten($ColorMain,35%);
          border-radius: 100%;
        }
        a {
          // background-color: lighten($ColorMain,40%);
          border-radius: 3px;
          display: inline-block;
          padding: 2px 7px;
          color: darken($ColorMain,20%);
          &:hover{
            // background-color: lighten($ColorMain,20%);
            color: darken($ColorRed,0%);
          }
        }
      }
    }
  }
  >div.row{
    &.primary{
      padding:1%;
      h1{
        font-size:calc(3vw + 110%);
        line-height: 430%;
        text-shadow: #000 0px -1px 1px;color:lighten($ColorMain,10%);
      }
      p{
        padding:2px 1%;
        font-size: 120%;
        color: $ColorSecond;
      }
    }
    div {
      &.detail{
        ol.word{
          margin:1px 2%;
          padding:5px 3%;
          line-height: 160%;
          // border: 1px solid lighten(#ccc,2%);
          &:before {
            display: inline-block;
            content: attr(data-name);
            background-color: lighten($ColorMain,10%);
            color: #fff;
            padding: 3px 10px;
            line-height: 150%;
            border-radius: 3px;
          }
          li{
            display: inline-block;
            margin: 1px 3px;
            color: darken($ColorMain,25%);
            // color: darken(#ccc,26%);
            &::after {
              content: '၊'; color:#ccc;
            }
            &:last-child{
              &::after {
                content: '။';
              }
            }
          }
        }
        ul.worddesc{
          margin:1px 2%;
          padding:5px 3%;
          line-height: 160%;
          list-style: circle;
          white-space: break-spaces;
          // white-space: pre-line;
          // white-space: pre;
          li{
            // display: inline-block;
            margin: 1px 3px;
            // white-space: break-spaces;
            // white-space: nowrap;
            // white-space: pre-line;
            // color: darken($ColorMain,25%);
            // color: darken(#ccc,26%);
            strong{
              color: darken($ColorMain,10%);
              font-weight: lighter;
            }
          }
        }

        ul.exam{
          margin:1px 3%;
          padding:1px 3%;
          list-style: none;
          font-size: 95%;
          // border: 1px dotted lighten(#ccc,1%);
          // background-color: lighten(#ccc,17%);
          border-radius: 7px;
          >li{
            position: relative;
            padding:3px;
            &::before{
              content: attr(data-name); display: inline-block;
              width: 6px; height: 6px; border-radius: 50%;
              // background-color: lighten(#ccc,20%);
              border: 1px solid darken(#ccc,6%);
              // background-color: lighten($ColorMain,35%);
              // border: 1px solid lighten($ColorMain,15%);
              position: absolute; top: 11px; left: -11px;
            }
            p{
              // color: lighten($ColorMain,15%);
              color: darken(#ccc,40%);
              em {
                font-style: normal;
                color: darken($ColorMain,12%);
                &::before,&::after {
                  content: '"';
                }
                &::before {

                }
                &::after {

                }
              }
            }
            >ol{
              &:empty{
                display: none;
              }
              padding:3px 2%;
              margin:1px 1%;
              list-style: circle;
              li{
                color: darken(#ccc,20%);
                font-size: 90%;
                em {
                  font-style: normal;
                  color: darken($ColorMain,12%);
                  &::before,&::after {
                    content: '"';
                  }
                  &::before {

                  }
                  &::after {

                  }
                }
              }
            }
            /*
            dl{
              border: 1px solid lighten(grey, 20%);
              border-radius: 3px;
              // padding: 20px 20px;
              color:lighten(grey, 30%);
              span{
                margin-right: 10px;
                color:lighten(grey, 1%);
              }
              mark{
                margin-left: 10px;
                color: darken($ColorMain,0%);
                background-color: transparent;
              }
              dt{
                // color: darken($ColorMain,22%);
                background-color: lighten(grey, 45%);
                padding: 5px;
                border-bottom: 1px solid lighten(grey, 20%);
                span, mark {
                  font-weight: bold;
                }
                span {
                  padding-left:5px;
                  padding-right:5px;
                }
              }
              dd{
                padding: 5px 10px;
              }
            }
            */
            /*
            >ul{
              // NOTE: form
              // display: inline-block;
              border: 1px solid lighten(grey, 20%);
              border-radius: 3px;
              padding: 0;
              li{
                &.header{
                  // font-weight: bold;
                  color: darken($ColorMain,22%);
                  background-color: lighten(grey, 45%);
                  span {
                   padding-left:5px;
                   padding-right:5px;
                  }
                }
                border-bottom: 1px solid lighten(grey, 30%);
                padding: 5px 7px;
                // margin: 5px 7px;
                // margin: 2px;
                line-height: 160%;
                strong{
                  color: darken($ColorMain,12%);
                  font-weight: normal;
                }
                span{
                  color: lighten(grey, 30%);
                }
                &:last-child{
                  border-bottom-width: 0;
                }
              }
            }
            */
          }
        }
        >ol{

        }
        >div {
          padding: 1%;
          margin: 1% 2%;
          >h2{
            color: $ColorMain;
            font-weight: normal;
            font-size: 130%;
            line-height: 170%;
            padding: 1px 3%;
            margin: 0px 10px;
            display: inline-block;
            position: relative;
            &::before{
              content: ""; display: inline-block;
              width: 25px; height: 25px; border-radius: 50%;
              // background-color: lighten($ColorMain,40%);
              border: 2px solid lighten($ColorMain,20%);
              position: absolute; top: 8px; left: -24px;
            }
          }
          >div {
            border-left: 2px solid lighten($ColorMain,25%);
            >p{
              padding: 1% 2%;
              color: darken($ColorMain,20%);
              border-radius: 3px;
              font-size: 120%;
              line-height: 170%;
              &:empty{
                &::before{
                  content: '...'; color: #ccc;
                }
              }
            }
            >div{
              margin: 1px;
              h3{
                font-size: 110%;
                line-height: 160%;
                font-weight: normal;
                display: inline-block;
                padding: 2px 12px;
                margin:2px 7px;
                color: $ColorMain;text-shadow: #fff 1px 0px 1px;
                position: relative;
                &::before{
                  content: ""; display: inline-block;
                  width: 18px; height: 18px; border-radius: 50%;
                  background-color: #fff;
                  border: 2px solid lighten($ColorMain,25%);
                  position: absolute; top: 6px; left: -20px;
                }
              }
              >div {
                >p{
                  padding: 5px 3%;
                  // color: #ccc;
                  color: #666;
                  // color: red;
                }
                >div {
                  >h4{
                    display: inline-block;
                    font-weight: normal;
                    font-size: 104%;
                    line-height: 160%;
                    padding: 1px 2%;
                    margin: 0px 9px;
                    color: darken($ColorMain,20%);
                    border-radius: 3px;
                    position: relative;
                    &::before{
                      content: "";
                      display: inline-block;
                      width: 12px; height: 12px; border-radius: 50%;
                      background-color: #fff;
                      border: 2px solid lighten($ColorMain,25%);
                      position: absolute;
                      top: 5px; left: -19px;
                    }
                  }
                  >div{
                    // margin-bottom:2%;
                    >p{
                      padding: 1% 3%; color: #666; font-size: 95%;
                      // color: red;
                    }
                    >div{
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    ul{
      list-style: none;
      padding:2px 1%;
      &.note {
        // text-align: center;
        li {
          vertical-align: middle;
          display: inline-block;
          margin: 2px;
          color: lighten(#666,10%);
          strong {
            color: $ColorMain;
            display: inline-block;
            &::after{
              content:'-';
              padding-right: 2px;
              color: #666;
              font-weight: normal;
            }
          }
          em {
            font-style: normal;
            color: darken($ColorMain,12%);
            &::before,&::after {
              content: '"';
            }
            &::before {
              content: '(';
            }
            &::after {
              content: ')';
            }
          }
        }
      }
      &.partsofspeech {
        text-align: center;
        li {
          vertical-align: middle;
          display: inline-block;
          min-height: 100px;
          margin: 1%;
          border-radius: 3px;
          overflow: hidden;
          background-color: lighten($ColorMain,26%);
          a{
            font-size: 130%;
            display: block;
            padding: 15px;
            color: #fff;
            background-color: lighten($ColorMain,10%);
            &:hover {
              background-color: lighten($ColorMain,20%);
              text-shadow: #000 0px 0px 1px;
            }
          }
          p{
            color: #666;
            padding: 15px;
          }
          &:hover{
            background-color: lighten($ColorMain,30%);
            a {
              @include box-shadow(0px, 0px, 1px, 1px, lighten(#666,50%));
            }
          }
        }
      }
      &.summary{
        li {
          vertical-align: middle;
          display: inline-table;
          margin: 1%;
          background-color: lighten(#ccc,16%);
          border-radius: 3px;
          a,strong, p {
            display: table-cell;
            padding: 5px 15px;
            vertical-align: middle;
            font-weight: normal;
          }
          a,strong{
            font-size: 120%;
            color: #666;
            text-shadow: #ccc 0px 1px 1px;
            background-color: lighten(#ccc,12%);
            position: relative;
            &:after,&:before{
              position:absolute;display:block;pointer-events:none;content:" ";width:0px;height:0px;text-align:center;vertical-align:middle; border:solid transparent;
              right: -19px; top: 32%;
            }
            &:before{
              border-left-color:lighten(#ccc,1%);border-width:10px;right: -20px;
            }
            &:after{
              border-left-color:lighten(#ccc,12);border-width:10px;
            }
          }
          p{
            color: #666;
            text-align: left;
          }
        }
      }
    }
  }
}
