&.define{
  // NOTE: common result
  // &.notfound{}
  // &.pleaseenter{}
  &.result{
    // &::before{
    //   // position: absolute;
    //   @media #{$media-desktop}{
    //     content: 'testing desktop';
    //   }
    //   @media #{$media-tablet}{
    //     content: 'testing tablet';
    //   }
    //   @media #{$media-mobile}{
    //     content: 'testing mobile';
    //   }
    //   background-color: red;
    //   color: white;
    //   padding: 2px 5px;
    //   border-radius: 2px;
    // }
    >div{
      // NOTE: parent element (definition/translation)
      position: relative;
      &::before{
        display: block;
        content: attr(data-lang);
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        color: lighten($ColorSecond,15%);
        border-radius: 50px;
        background-color: $ColorBackground;
        border: 1px solid lighten($ColorSecond,15%);
        position: absolute; top: 0px; left: -16px;
      }
      &.translation{
        &::before{
          padding: 7px;
          width:18px;
          height: 18px;
        }
        >p{
          font-weight: normal;
          font-size: 170%;
          line-height: 110%;
          padding-left: 25px;
          color: lighten($ColorSecond,5%);
          word-wrap: break-word;
        }
      }
    }
    span.speech {
      // display: inline-block;
      color: lighten($ColorSecond,28%);
      &:hover{
        &::before{
          color: lighten($ColorMain,10%);
        }
      }
      &.playing{
        &::before{
          color: red;
        }
      }
    }
    div.definition{
      position: relative;
      &::before{
        display: block;
        content: attr(data-lang);
        font-size: 100%;
        line-height: 160%;
        text-align: center;
        text-transform: none;
        color: lighten($ColorSecond,15%);
        width: 27px; height: 27px; border-radius: 50%;
        background-color: $ColorBackground;
        border: 1px solid lighten($ColorSecond,15%);
        position: absolute; top: -2px; left: -15px;
      }
      >h1{
        color: $ColorMain;
        font-weight: normal;
        font-size: 150%;
        line-height: 100%;
        word-wrap: break-word;
      }
      >div{
        // NOTE: meaning Block
        >div{
          // NOTE: meaning Each
          >h2,h3{
            // NOTE: pos, thesaurus
            font-size: 100%;
            line-height: 100%;
            font-weight: lighter;
            display: inline-block;
            padding: 4px 5px 2px 20px;
            color: $ColorMain;text-shadow: #fff 1px 0px 1px;
            position: relative;
            text-transform: capitalize;
          }
          >div {
            // NOTE: pos Block
            >div{
              // NOTE: pos Each (partof, formof)
              em,b{
                font-style: normal;
                font-weight: normal;
                &::before,&::after{
                  // font-style: normal;
                  color:darken($ColorSecond,10%);
                  // font-size: 100%;
                }
              }
              em{
                color: lighten($ColorSecond,10%);
                font-size: 80%;
                &::before{
                  content: '(';
                }
                &::after{
                  content: ')';
                }
              }
              b{
                font-size: 80%;
                color:darken(red,10%);
                &::before{
                  content: '[';
                }
                &::after{
                  content: ']';
                }
              }
              a {
                color: darken($ColorMain,1%);
                font-weight: lighter;
                font-size: 105%;
                word-wrap: break-word;
                &:visited {
                  color: lighten(#551A8B,20%);
                }
                &:hover {
                  text-decoration: underline;
                  color: darken($ColorMain,15%);
                }
                &:active {
                  color: red;
                }
              }
              >p{
                font-size: 1.10rem;
                line-height: 1.65rem;
                display: inline-block;
                word-wrap: break-word;
                margin:4px 0;
                padding-left: 20px;
                position: relative;
                &::before{
                  content: ""; display: inline-block;
                  width: 10px; height: 10px; border-radius: 50%;
                  background-color: #fff;
                  border: 1px solid lighten($ColorMain,25%);
                  position: absolute;  left: -7px;//top: 8px;
                  top: 0.45rem;
                }
                small{
                  color: lighten($ColorSecond,20%);
                }
                b{
                  color: darken($ColorGold,10%);
                }
              }
              >ul{
                // NOTE: usage
                list-style: none;
                font-size: 100%;
                line-height:1.60rem;
                // padding: 7px 0 7px 30px;
                padding: 7px 0 7px 30px;
                border-left: 1px dotted lighten($ColorMain,25%);
                &:empty{
                  border-left-width: 0;
                  line-height: 0.30rem;
                  padding-top:3px;
                  padding-bottom:3px;
                  &::before{
                    content: "...";
                    font-size: 1.30rem;
                    color: lighten($ColorSecond,20%);
                  }
                  &:last-child{
                    display: none;
                  }
                }
                >li{
                  position: relative;
                  padding-left:5px;
                  margin: 3px 0;
                  // line-height: 120%;
                  color: darken($ColorSecond,1%);
                  word-wrap: break-word;
                  &::before{
                    content: attr(data-name); display: inline-block;
                    width: 6px; height: 6px; border-radius: 50%;
                    background-color: lighten($ColorSecond,35%);
                    // background-color: darken(#ccc,5%);
                    position: absolute; top: 0.65rem; left: -11px;
                  }
                }
              }
              >ol{
                // NOTE: thesarus
                // background-color: red;
                list-style: none;
                padding:1% 0;
                // font-size: 95%;
                li {
                  display: inline-block;
                  position: relative;
                  padding: 2px 3px;
                  a {
                    // font-size: 110%;
                    display: inline-block;
                    background-color: lighten($ColorSecond,45%);
                    border-radius: 3px;
                    padding: 2px 7px;
                    &:link {
                      // color: darken(#0000EE,5%);
                      // color: darken($ColorSecond,5%);
                      // color: lighten($ColorMain,5%);
                      color: lighten($Color,1%);
                    }
                    &:visited {
                        // color: lighten(#551A8B,20%);
                        color: lighten($ColorSecond,20%);
                        background-color: lighten($ColorSecond,48%);
                        // color: lighten($Color,20%);
                    }
                    &:hover {
                      // color: darken($ColorMain,50%);
                      text-decoration: underline;
                      // color: darken(#0000EE,1%);
                      color: darken($ColorMain,5%);
                    }
                    &:active {
                        color: red;
                    }
                  }
                }
              }
              &.partof{
                >p{
                  color: lighten($ColorSecond,2%);
                  a {
                    font-size: 110%;
                  }
                  em {
                    color: darken($ColorGold,20%);
                    font-weight: lighter;
                  }
                }
              }
              &.formof{
                >p{
                  color: lighten($ColorSecond,5%);
                  font-size: 1rem;
                  // line-height: 1.65rem;
                  a {
                    font-size: 110%;
                  }
                }
              }
              &.notation{
                ul{
                  li {
                    color: darken($ColorMain,30%);
                    &::before{
                      background-color: lighten($ColorMain,10%);
                    }
                  }
                }
              }
            }
          }
          &.pos{
            h2{
              font-style: italic;
            }
          }
          &.notation{
            // TODO: ??
            h2{
              font-size: 130%;
              padding-top: 0;
            }
          }
          &.suggestion{
            // TODO: ??
            p {
              &::before {
                content:'...';
                padding-right: 7px;
                color: lighten($ColorSecond,10%);
              }
            }
          }
        }
      }
    }
  }
  @import 'Portal.define.none';
  @media #{$media-tablet-desktop}{
    @import 'Portal.define.result.tablet.desktop';
  }
  @media #{$media-mobile-tablet}{
    &.notfound,&.pleaseenter{
      >div{
        >div{
          text-align: center;
          &.notice{
            ul{
              li{
                margin:3% 2%;
              }
            }
          }
        }
      }
    }
  }
  // @media #{$media-desktop}{
  //   &.notfound,&.pleaseenter{
  //     >div{
  //       >div{
  //         &.notice{
  //           position: relative;
  //           padding-left:230px;
  //           &::before{
  //             content: '!';
  //             font-size: 14em;
  //             position: absolute;
  //             left: 15px; top: 0;
  //             // background-color: darken($ColorBackground,3%);
  //             // border-radius: 3px;
  //             color: lighten($ColorSecond,10%);
  //             height: 100%;
  //             width: 190px;
  //             // display: table-cell;
  //             text-align: center;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  @media #{$media-mobile}{
    @import 'Portal.define.result.mobile';
    &.notfound,&.pleaseenter{
      >div{
        >div{
          &.notice{
            // h1{
            //   font-size: 3em;
            // }
            // h2{
            //   font-size: 2em;
            // }
            ul{
              li{
                &::before{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
