&.define.result{
  padding: 7px;
  >div{
    margin: 4% 2%;
    border-left: 1px solid lighten($ColorSecond,25%);
    position: relative;
    &::before{
      display: block;
      // display: table-cell;
      // content: "ja";
      content: attr(data-lang);
      // font-size: 14px;
      font-size: 100%;
      // line-height: 190%;
      // line-height: 100%;
      // margin-top: 3px;
      text-align: center;
      // vertical-align: text-bottom;
      text-transform: uppercase;
      color: lighten($ColorSecond,15%);
      width: 30px; height: 30px; border-radius: 50%;
      // background-color: lighten($ColorMain,40%);
      // background-color: $ColorBackground;
      // background-color: red;
      border: 1px solid lighten($ColorSecond,15%);
      position: absolute; top: 0px; left: -16px;
    }
    &.translation{
      // border-left-style: dotted;
      // &::before{
      //   border-style: dotted;
      // }
      >div{
        >div.definition{
          border-left-style: dotted;
          &::before{
            border-style: dotted;
          }
        }
      }
    }
    >div{
      // padding: 50px;
      padding:2% 5%;
      padding-left: 150px;
    }
  }
  div.translation{
    >p{
      // color: $ColorMain;
      font-weight: normal;
      font-size: 170%;
      line-height: 110%;
      // padding: 0 2%;
      // margin: 0px 10px;
      // margin-left: 50px;
      padding-left: 25px;
      // display: inline-block;
      position: relative;
      color: lighten($ColorSecond,5%);
      // &::before{
      //   // display: table-cell;
      //   display: block;
      //   content: attr(data-lang);
      //   // content: 'ja';
      //   // font-size: 16px;
      //   font-size:60%;
      //   // line-height: 100%;
      //   // padding: 2px;
      //   text-align: center;
      //   // vertical-align: middle;
      //   text-transform: uppercase;
      //   color: lighten($ColorSecond,15%);
      //   width: 30px; height: 30px; border-radius: 50%;
      //   // background-color: lighten($ColorMain,40%);
      //   background-color: $ColorBackground;
      //   border: 1px dotted lighten($ColorSecond,15%);
      //   position: absolute; top: 0px; left: -16px;
      //   overflow: hidden;
      // }
    }
  }
  div.definition{
    border-left: 1px solid lighten($ColorSecond,25%);
    position: relative;
    &::before{
      display: block;
      // content: "ja";
      content: attr(data-lang);
      font-size: 100%;
      line-height: 160%;
      text-align: center;
      text-transform: none;
      color: lighten($ColorSecond,15%);
      width: 27px; height: 27px; border-radius: 50%;
      background-color: $ColorBackground;
      border: 1px solid lighten($ColorSecond,15%);
      position: absolute; top: -2px; left: -15px;
    }
    >h1{
      color: $ColorMain;
      font-weight: normal;
      // font-size: 140%;
      // line-height: 120%;
      padding-left: 25px;
      font-size: 150%;
      line-height: 100%;
      span {
        display: inline-block;
        color: lighten(#666,17%);

        &:hover{
          &::before{
            color: $ColorMain;
          }
        }
        &.playing{
          &::before{
            color: red;
          }
        }
      }
    }
    >div{
      // border: 1px solid blue;
      // border-left: 1px solid lighten($ColorSecond,25%);
      // padding: 0;
      // margin: 0;
      // position: relative;
      >div{
        padding: 3% 7%;
        // margin: 1% 2%;
        // margin: 1px;
        // padding-left: 15%;
        // padding-left: 130px;
        >h2,h3{
          // NOTE: pos, etc
          font-size: 100%;
          line-height: 100%;
          font-weight: normal;
          display: inline-block;
          padding: 4px 5px 2px 20px;
          // margin:0px 7px;
          // padding-left: 17px;
          color: $ColorMain;text-shadow: #fff 1px 0px 1px;
          // color: $ColorSecond;text-shadow: #fff 1px 0px 1px;
          position: relative;
          // text-transform: uppercase;
          // text-transform: lowercase;
          text-transform: capitalize;
          // vertical-align: middle;
          // background-color: lighten($ColorSecond,40%);
          // border-radius: 0 20px 20px 0;
          // font-style: italic;
          &::before{
            content: ""; display: inline-block;
            width: 20px; height: 20px; border-radius: 50%;
            background-color: $ColorBackground;
            // background-color: lighten($ColorMain,35%);
            // background-color: lighten($ColorSecond,10%);
            // border: 2px solid lighten($ColorMain,25%);
            border: 1px solid lighten($ColorMain,15%);
            position: absolute; top: 0px; left: -11px;
          }
        }
        >div{
          border-left: 1px solid lighten($ColorMain,35%);
          padding-left: 5%;

          // padding-left: 70px;
          em,b{
            font-style: normal;
            font-weight: normal;
            &::before,&::after{
              // font-style: normal;
              color:darken($ColorSecond,10%);
              // font-size: 100%;
            }
          }
          em{
            color: lighten($ColorSecond,10%);
            font-size: 80%;
            // font-style: normal;
            // &::before,&::after{
            //   // font-style: normal;
            //   color:darken($ColorSecond,10%);
            //   // font-size: 100%;
            // }
            &::before{
              content: '(';
            }
            &::after{
              content: ')';
            }
          }
          b{
            // color: darken($ColorSecond,20%);
            font-size: 80%;
            color:darken(red,10%);

            // &::before,&::after{
            //   // font-size: 110%;
            //   color:lighten($ColorSecond,20%);
            // }
            &::before{
              content: '[';
            }
            &::after{
              content: ']';
            }
          }
          >p{
            font-size: 110%;
            // line-height: 160%;
            // line-height: 1.8;
            // font-weight: normal;
            display: inline-block;
            // padding: 2px 12px 2px 30px;
            margin:4px 0;
            // color: $Color;
            padding-left: 20px;
            // text-shadow: #fff 1px 0px 1px;
            position: relative;
            &::before{
              content: ""; display: inline-block;
              width: 10px; height: 10px; border-radius: 50%;
              background-color: #fff;
              // background-color: lighten($ColorMain,30%);
              border: 1px solid lighten($ColorMain,25%);
              position: absolute; top: 8px; left: -7px;
            }
            a {
              color: darken($ColorMain,1%);
              font-weight: lighter;
              &:visited {
                  color: lighten(#551A8B,20%);
                  // color: lighten($Color,20%);
              }
              &:hover {
                // color: darken($ColorMain,50%);
                text-decoration: underline;
                // color: darken(#0000EE,1%);
                color: darken($ColorMain,15%);
              }
              &:active {
                  color: red;
              }
            }
          }
          >ul.eg{
            // margin:0 3%;
            // padding:0 3%;
            list-style: none;
            font-size: 95%;
            padding: 2px 0 7px 30px;
            // border-left: 1px dotted lighten(#ccc,1%);
            border-left: 1px dotted lighten($ColorMain,25%);
            // background-color: lighten(#ccc,17%);
            // border-radius: 7px;
            &:empty{
              // display: none;
              border-left-width: 0;
              &::before{
                // content: "\2022\2022\2022";
                content: "...";
                font-size: 12px;
                color: lighten($ColorSecond,40%);
              }
              &:last-child{
                display: none;
              }
            }
            // &:last-child{
            //   &:empty{
            //     display: none;
            //   }
            // }
            >li{
              position: relative;
              padding-left:5px;
              // line-height: 150%;
              color: darken($ColorSecond,5%);
              // em{
              //   // color:darken($ColorSecond,15%);
              //   &::before,&::after{
              //     font-style: normal;
              //     color:lighten($ColorSecond,35%);
              //   }
              //   &::before{
              //     content: '(';
              //   }
              //   &::after{
              //     content: ')';
              //   }
              // }
              &::before{
                content: attr(data-name); display: inline-block;
                width: 6px; height: 6px; border-radius: 50%;
                // background-color: $ColorMain;
                // border: 1px solid darken(#ccc,6%);
                background-color: darken(#ccc,5%);
                // border: 1px solid lighten($ColorMain,15%);
                position: absolute; top: 7px; left: -11px;
              }
            }
          }
          >ol{
            // NOTE: thesarus
            // background-color: red;
            list-style: none;
            padding:1% 0;
            li {
              display: inline-block;
              // margin: 2px;
              // margin-right: 6px;
              padding: 2px;
              padding-right: 5px;
              // &::after{
              //   content: ', ';
              //   position: absolute;
              //   color: #ccc;
              // }
              // &:last-child{
              //   padding-right: 0;
              //   &::after{
              //     display: none;
              //   }
              // }
              a {
                // font-size: 110%;
                display: inline-block;
                background-color: lighten($ColorSecond,45%);
                border-radius: 3px;
                padding: 2px 7px;
                font-weight: lighter;
                &:link {
                  // color: darken(#0000EE,5%);
                  // color: darken($ColorSecond,5%);
                  // color: lighten($ColorMain,5%);
                  color: lighten($Color,1%);
                }
                &:visited {
                    // color: lighten(#551A8B,20%);
                    color: lighten($ColorSecond,20%);
                    background-color: lighten($ColorSecond,48%);
                    // color: lighten($Color,20%);
                }
                &:hover {
                  // color: darken($ColorMain,50%);
                  text-decoration: underline;
                  // color: darken(#0000EE,1%);
                  color: darken($ColorMain,5%);
                }
                &:active {
                    color: red;
                }
              }
            }
          }
        }
        &.pos{
          h2{
            // text-transform: uppercase;
            font-style: italic;
          }
          // &.noun{
          //   h2{
          //     color: red;
          //     &::before{
          //       background-color: blue;
          //       border: 1px solid red;
          //     }
          //   }
          //   div{
          //     border-left: 1px solid red;
          //   }
          // }
        }
        &.notation{
          h2{
            font-size: 130%;
            // line-height: 80%;
            padding-top: 0;
            // color: red;
            // &::before{
            //   background-color: blue;
            //   border: 1px solid red;
            // }
          }
        }
      }
    }

  }
  @media #{$media-mobile} {
    div.definition{
      // padding:4% 1%;
      // margin: 1% 2%;
      // border-left-width: 0px;
      >div{
        // border-left: 2px solid lighten($ColorMain,25%);
        >div{
          // padding: 3% 0;
          // padding-left: 4%;
          &.thesaurus{
            >div{
              border-left-width: 0px;
              ol{
                li {
                  a {
                    font-size: 1.3em;
                  }
                }
              }
            }
          }
          >h2{
            &::before{
              background-color: lighten($ColorMain,35%);
            }
          }
          >div{
            // border-left-width: 0px;
            padding-left: 0;

            >p{
              font-size: 110%;
              &::before{
                background-color: lighten($ColorMain,25%);
                top: 9px;
              }
            }
            >ul.eg{
              // margin:0 3%;
              // padding:0 3%;
              // list-style: none;
              // font-size: 95%;
              // padding-left: 30px;
              // border-left: 0px dotted lighten(#ccc,1%);
              border-left-width: 0px;
            }

          }
        }
      }
    }
    div.translation{
      >div{
        padding-left: 5%;
      }
    }
    >div{
      // border-left-width: 0px;
      >div{
        padding-left: 2%;
      }
    }
  }
  @media #{$media-tablet} {
    // >div.translation_{
    //   >div{
    //     padding-left: 6%;
    //   }
    // }
    >div{
      >div{
        padding-left: 7%;
      }
    }
  }
}
&.define.notfound{
  >div{
    padding: 5%;
    >div{
      &.notice{
        h1{
          // color: darken($ColorMain,15%);
          color: darken($ColorSecond,1%);
          padding:3% 2%;
          font-weight: lighter;
        }
        ul{
          padding:3% 2%;
          font-weight: lighter;
          list-style: none;
          li{
            // color: darken($ColorSecond,15%);
            font-size: 120%;
            margin: 1%;
            line-height: 100%;
            &::before{
              content: '... ';
              color: lighten($ColorSecond,15%);
            }
            q{
              color: darken($ColorRed,1%);
              font-weight: lighter;
              font-size: 130%;
              &::before,&::after{
                color: lighten($ColorSecond,15%);
              }
            }
            em{
              color: darken($ColorMain,1%);
              font-style: normal;
              text-transform: uppercase;
              &::before{
                color: lighten($ColorSecond,15%);
                font-weight: lighter;
                content: ':';
              }
            }
          }
        }
      }
    }
  }
}
&.define.pleaseenter{
  >div{
    padding: 5%;
    >div{
      &.notice{
        h1{
          // color: darken($ColorMain,15%);
          color: darken($ColorSecond,1%);
          padding:3% 2%;
          font-weight: lighter;
          sup{
            font-size: 13px;
          }
        }
        ul{
          padding:3% 2%;
          font-weight: lighter;
          list-style: none;
          li{
            // color: darken($ColorSecond,15%);
            font-size: 120%;
            margin: 1%;
            line-height: 100%;
            &::before{
              content: '... ';
              color: lighten($ColorSecond,15%);
            }
            q{
              color: darken($ColorRed,1%);
              font-weight: lighter;
              font-size: 130%;
              &::before,&::after{
                color: lighten($ColorSecond,15%);
              }
            }
            em{
              color: darken($ColorMain,1%);
              font-style: normal;
              text-transform: uppercase;
              &::before{
                color: lighten($ColorSecond,15%);
                font-weight: lighter;
                content: ':';
              }
            }
          }
        }
      }
    }
  }
}