<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="application-name" content="MyOrdbok" data-loads="0.1637">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>love</title>
	<meta name="description" content="the word love seem to be English.">
	<meta name="keywords" content="love, English, Myanmar dictionary, love means">
</head>

<body id="definition" class="dictionary">
	<div class="primary">
		<div id="content" class="portal">
			<div class="resize">
				<div class="define">
					<dl class="dl definition word">
						<dt class="dt">
							<p>love<span class="speech en zA icon-sound"></span></p>
						</dt>
						<dd class="dd">
							<dl class="noun">
								<dt><span>Noun</span></dt>
								<dd>
									<p class="de" id="30472">သံယောဇဉ်</p>
									<ul class="eg">
										<li>He shows little love towards her.</li>
									</ul>
									<p class="de" id="105716">မေတ္တာ</p>
									<p class="de" id="30473">အချစ်</p>
									<ul class="eg">
										<li>a love <a href="?q=song">song</a>/<a href="?q=story">story</a>.</li>
									</ul>
									<p class="de" id="30474">ခုံမင်နှစ်သက်ခြင်း</p>
									<ul class="eg">
										<li>(sing) a love of <a href="?q=learning">learning</a>/<a href="?q=adventure">adventure</a>/<a href="?q=nature">nature</a>.</li>
									</ul>
									<p class="de" id="30475">ချစ်သူ</p>
									<ul class="eg">
										<li>She was the love of my life.</li>
									</ul>
									<p class="de" id="30476">စွဲလမ်းခြင်း</p>
									<ul class="eg">
										<li>She's fond of all sports/but tennis is her <a href="?q=first">first</a>/<a href="?q=greatest">greatest</a> love.</li>
									</ul>
									<p class="de" id="105718">ကြိုက်ခြင်း</p>
									<p class="de" id="30477">(ဖော်ရွေသည့် သဘောဖြင့် သုံးသောအာလုပ်စကား)။</p>
									<ul class="eg">
										<li><a href="?q=british">British</a>: Mind your head/love!</li>
									</ul>
									<p class="de" id="30478">(တင်းနစ်ပွဲတွင်) သုည။</p>
									<ul class="eg">
										<li>She won the first set six-love/six games to love.</li>
									</ul>
									<p class="de" id="105717">ချစ်ခြင်း</p>
								</dd>
							</dl>
							<dl class="adjective">
								<dt><span>Adjective</span></dt>
								<dd>
									<p class="de" id="96020">ချစ်ခင်နှစ်လိုဖွယ်ကောင်းသော</p>
									<p class="de" id="105720">ခုံမင်တပ်မက်ဖွယ်ကောင်းသော</p>
								</dd>
							</dl>
							<dl class="transitive">
								<dt><span>Transitive</span></dt>
								<dd>
									<p class="de" id="30479">ချစ်သည်</p>
									<ul class="eg">
										<li>do you love me?</li>
									</ul>
									<p class="de" id="30480">ဝါသနာပါသည်</p>
									<ul class="eg">
										<li>Children love to <a href="?q=play">play</a>/<a href="?q=love">love</a> playing.</li>
									</ul>
									<p class="de" id="105721">ခုံမင်သည်</p>
									<p class="de" id="105722">နှစ်သက်သည်</p>
									<p class="de" id="105723">ဝမ်းသာသည်</p>
									<p class="de" id="105724">သဘောကျသည်</p>
								</dd>
							</dl>
							<dl class="verb">
								<dt><span>Verb</span></dt>
								<dd>
									<p class="de" id="105719">ချစ်ခင်မြတ်နိုးမှုကို ဖော်ပြတတ်သော</p>
								</dd>
							</dl>
							<dl class="derived-forms">
								<dt><span>Derived forms</span></dt>
								<dd>
									<p><a href="?q=loves">loves<em title="Noun">Plural</em><em title="Verb">Third Person</em></a><a href="?q=loved">loved<em title="Verb">Past</em></a><a href="?q=loving">loving<em title="Verb">Present Participle</em></a></p>
								</dd>
							</dl>
							<dl class="antonym">
								<dt><span>Antonym</span></dt>
								<dd>
									<p><a href="?q=hate">hate</a></p>
								</dd>
							</dl>
							<dl class="thesaurus">
								<dt><span>Thesaurus</span></dt>
								<dd>
									<p><a href="?q=love">love</a><a href="?q=amor">Amor</a><a href="?q=aphrodite">Aphrodite</a><a href="?q=astarte">Astarte</a><a href="?q=bomfog">BOMFOG</a><a href="?q=benthamism">Benthamism</a><a href="?q=christian charity">Christian charity</a><a
										  href="?q=christian love">Christian love</a><a href="?q=cupid">Cupid</a></p>
								</dd>
							</dl>
							<dl class="parts-of-speech">
								<dt><span>Parts of speech</span></dt>
								<dd>
									<p><a href="?q=love affair">love affair<em title="Noun Phrase">h</em></a><a href="?q=love apple">love apple<em title="Noun Phrase">h</em></a><a href="?q=love arrows">love arrows<em title="Noun Phrase">h</em></a><a href="?q=love chest">love
											chest<em title="Noun Phrase">h</em></a><a href="?q=love child">love child<em title="Noun Phrase">h</em></a><a href="?q=love feast">love feast<em title="Noun Phrase">h</em></a><a href="?q=love game">love game<em title="Noun Phrase">h</em></a><a
										  href="?q=love knot">love knot<em title="Noun Phrase">h</em></a></p>
								</dd>
							</dl>
							<dl class="suggestion">
								<dt><span>Suggestion</span></dt>
								<dd>
									<p>todo: ...suggest <span class="word suggest zA" data-word="love">love</span> to improve</p>
								</dd>
							</dl>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</body>
</html>