div.portal#header
  div.resize
    div.row
      div.column
        ol(data-lang="en").menu.dictionary#MyOrdbok-logo
          li.dictionary
            a(href="/dictionary")
              span English
              span Myanmar
      div.column.wide
        form(name='search' method='get' action='/definition').abc
          p
            input(type="search" name="q" value="" placeholder="Type word to find it's definition" autocomplete="off")
          p
            button(type="submit" id="search") &#xe83d;
          div#suggest