extends ../layout
block header
  include ../header

block content
  div.portal#content
    div.resize
      div.define
        include utilities
        case meta.type
          when 'pleaseenter'
            include ./pleaseenter
          when 'notfound'
            include ./notfound
          default
            +result(data)

block footer
  include ../footer