div
  .notice
    h1 We hope that you like #{appName}#[sup=appVersion]
    ul
      li the free online Myanmar dictionary
      li the most relevant definition
      li pick the right #[em=lang.tar] dictionary
      li pick the right language
