<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="application-name" content="MyOrdbok" data-loads="0.259">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>elskelig</title>
	<meta name="description" content="the word elskelig seem to be Norwegian.">
	<meta name="keywords" content="elskelig, Norwegian, Myanmar dictionary, elskelig means">
</head>

<body id="definition" class="dictionary">
	<div class="primary">
		<div id="content" class="portal">
			<div class="resize">
				<div class="define">
					<dl class="dl definition sentence">
						<dt class="dt">
							<p>elskelig<span class="speech no zA icon-sound"></span></p>
						</dt>
						<dd class="dd">
							<dl class="dl definition word">
								<dt class="dt">
									<p>lovable<span class="speech en zA icon-sound"></span></p>
								</dt>
								<dd class="dd">
									<dl class="adjective"><dt><span>Adjective</span></dt>
										<dd>
											<p class="de" id="30471">ချစ်ဖွယ်ကောင်းသော</p>
											<ul class="eg">
												<li>a lovable character/rogue.</li>
											</ul>
											<p class="de" id="100958">နှစ်သက်စရာဖြစ်သော</p>
										</dd>
									</dl>
									<dl class="derived-forms"><dt><span>Derived forms</span></dt>
										<dd>
											<p>todo: ...see Derive for <a href="?q=lovable">lovable</a></p>
										</dd>
									</dl>
									<dl class="antonym"><dt><span>Antonym</span></dt>
										<dd>
											<p>todo: ...see Antonym for <a href="?q=lovable">lovable</a></p>
										</dd>
									</dl>
									<dl class="thesaurus"><dt><span>Thesaurus</span></dt>
										<dd>
											<p>todo: ...see Thesaurus for <a href="?q=lovable">lovable</a></p>
										</dd>
									</dl>
									<dl class="parts-of-speech"><dt><span>Parts of speech</span></dt>
										<dd>
											<p>todo: ...see Parts of speech for <a href="?q=lovable">lovable</a></p>
										</dd>
									</dl>
									<dl class="suggestion"><dt><span>Suggestion</span></dt>
										<dd>
											<p>todo: ...suggest <span class="word suggest zA" data-word="lovable">lovable</span> to improve</p>
										</dd>
									</dl>
								</dd>
							</dl>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</body>

</html>