@font-face {
  font-family: 'myordbok';
  src: url('../font/myordbok.eot?83915366');
  src: url('../font/myordbok.eot?83915366#iefix') format('embedded-opentype'),
       url('../font/myordbok.woff2?83915366') format('woff2'),
       url('../font/myordbok.woff?83915366') format('woff'),
       url('../font/myordbok.ttf?83915366') format('truetype'),
       url('../font/myordbok.svg?83915366#myordbok') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'myordbok';
    src: url('../font/myordbok.svg?83915366#myordbok') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "myordbok";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-flag:before { content: '\e802'; } /* '' */
.icon-quote:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-tag:before { content: '\e805'; } /* '' */
.icon-leaf:before { content: '\e806'; } /* '' */
.icon-dot3:before { content: '\e808'; } /* '' */
.icon-floppy:before { content: '\e809'; } /* '' */
.icon-android:before { content: '\e80a'; } /* '' */
.icon-volume-up:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-language:before { content: '\e815'; } /* '' */
.icon-config:before { content: '\e839'; } /* '' */
.icon-loading:before { content: '\e83b'; } /* '' */
.icon-lookup:before { content: '\e83d'; } /* '' */
.icon-slim-right:before { content: '\f006'; } /* '' */
.icon-slim-left:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-panel:before { content: '\f0c9'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-google-plus:before { content: '\f30f'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */
.icon-google-circles:before { content: '\f351'; } /* '' */