
.icon-star:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-flag:before { content: '\e802'; } /* '' */
.icon-quote:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-tag:before { content: '\e805'; } /* '' */
.icon-leaf:before { content: '\e806'; } /* '' */
.icon-dot3:before { content: '\e808'; } /* '' */
.icon-floppy:before { content: '\e809'; } /* '' */
.icon-android:before { content: '\e80a'; } /* '' */
.icon-volume-up:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-language:before { content: '\e815'; } /* '' */
.icon-config:before { content: '\e839'; } /* '' */
.icon-loading:before { content: '\e83b'; } /* '' */
.icon-lookup:before { content: '\e83d'; } /* '' */
.icon-slim-right:before { content: '\f006'; } /* '' */
.icon-slim-left:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-panel:before { content: '\f0c9'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-google-plus:before { content: '\f30f'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */
.icon-google-circles:before { content: '\f351'; } /* '' */