extends ../layout
block header
  include ../header

block content
  div.portal.terms#content
    div.resize

      .message
        ol
          li
            p
              | lookup:~
              a(href='definition?q=love') love
          li
            p okey
      .define.result
        .definition(data-lang='en')
          h1
            | love
            span.speech.icon-volume-up
          .meaning
            .pos.noun
              h2 Noun
              div
                p အချစ်
                ul.eg
                  li
                    | a love
                    a(href='definition?q=song') song
                    | ,
                    a(href='definition?q=story') story
                    | .
                p ခုံမင်နှစ်သက်ခြင်း
                ul.eg
                  li
                    em sing
                    |  a love of
                    a(href='definition?q=learning') learning
                    | ,
                    a(href='definition?q=adventure') adventure
                    | ,
                    a(href='definition?q=nature') nature
                    | .
                p ချစ်သူ
                ul.eg
                  li She was the love of my life.
                p စွဲလမ်းခြင်း
                ul.eg
                  li
                    | She's fond of all sports, but tennis is her
                    a(href='definition?q=first') first
                    | ,
                    a(href='definition?q=greatest') greatest
                    |  love.
                p ကြိုက်ခြင်း
                ul.eg
                p
                  em ဖော်ရွေသည့် သဘောဖြင့် သုံးသောအာလုပ်စကား
                  | ။
                ul.eg
                  li
                    | asin
                    a(href='definition?q=British') British
                    |  Mind your head, love.
                p
                  em တင်းနစ်ပွဲတွင်
                  |  သုည။
                ul.eg
                  li She won the first set six-love/six games to love.
                p
                  | ~
                  a(href='definition?q=loves') loves
                  em plural
                ul.eg
            .pos.verb
              h2 Verb
              div
                p ချစ်ခင်မြတ်နိုးမှုကို ဖော်ပြတတ်သော
                ul.eg
                p ချစ်သည်
                ul.eg
                  li do you love me?
                p ဝါသနာပါသည်
                ul.eg
                  li
                    | Children love to
                    a(href='definition?q=play') play
                    | ,
                    a(href='definition?q=love') love
                    |  playing.
                p ခုံမင်
                ul.eg
                p နှစ်သက်
                ul.eg
                p ဝမ်းသာ
                ul.eg
                p သဘောကျ
                ul.eg
                p
                  | ~
                  a(href='definition?q=loves') loves
                  em 3rd person
                  | ; ~
                  a(href='definition?q=loved') loved
                  em past and past participle
                  | ; ~
                  a(href='definition?q=loving') loving
                  em present participle
                ul.eg
            .pos.adjective
              h2 Adjective
              div
                p ချစ်ခင်သော။ ကြင်နာသော။
                ul.eg
                  li such a loving and affectionate family.
            .suggestion.thesaurus
              h3 thesaurus
              div
                ol
                  li
                    a(href='definition?q=emotion') emotion
                  li
                    a(href='definition?q=passion') passion
                  li
                    a(href='definition?q=object') object
                  li
                    a(href='definition?q=beloved') beloved
                  li
                    a(href='definition?q=dear') dear
                  li
                    a(href='definition?q=dearest') dearest
                  li
                    a(href='definition?q=loved one') loved one
                  li
                    a(href='definition?q=honey') honey
                  li
                    a(href='definition?q=lover') lover
                  li
                    a(href='definition?q=sexual desire') sexual desire
                  li
                    a(href='definition?q=concupiscence') concupiscence
                  li
                    a(href='definition?q=physical attraction') physical attraction
                  li
                    a(href='definition?q=score') score
                  li
                    a(href='definition?q=sexual love') sexual love
                  li
                    a(href='definition?q=lovemaking') lovemaking
                  li
                    a(href='definition?q=making love') making love
                  li
                    a(href='definition?q=love life') love life
                  li
                    a(href='definition?q=sexual activity') sexual activity
                  li
                    a(href='definition?q=sexual practice') sexual practice
                  li
                    a(href='definition?q=sex') sex
                  li
                    a(href='definition?q=sex activity') sex activity
                  li
                    a(href='definition?q=enjoy') enjoy
                  li
                    a(href='definition?q=like') like
                  li
                    a(href='definition?q=roll in the hay') roll in the hay
                  li
                    a(href='definition?q=make out') make out
                  li
                    a(href='definition?q=make love') make love
                  li
                    a(href='definition?q=sleep with') sleep with
                  li
                    a(href='definition?q=get laid') get laid
                  li
                    a(href='definition?q=have sex') have sex
                  li
                    a(href='definition?q=know') know
                  li
                    a(href='definition?q=do it') do it
                  li
                    a(href='definition?q=be intimate') be intimate
                  li
                    a(href='definition?q=have intercourse') have intercourse
                  li
                    a(href='definition?q=have it away') have it away
                  li
                    a(href='definition?q=have it off') have it off
                  li
                    a(href='definition?q=screw') screw
                  li
                    a(href='definition?q=fuck') fuck
                  li
                    a(href='definition?q=jazz') jazz
                  li
                    a(href='definition?q=eff') eff
                  li
                    a(href='definition?q=hump') hump
                  li
                    a(href='definition?q=lie with') lie with
                  li
                    a(href='definition?q=bed') bed
                  li
                    a(href='definition?q=have a go at it') have a go at it
                  li
                    a(href='definition?q=bang') bang
                  li
                    a(href='definition?q=get it on') get it on
                  li
                    a(href='definition?q=bonk') bonk
                  li
                    a(href='definition?q=copulate') copulate
                  li
                    a(href='definition?q=mate') mate
                  li
                    a(href='definition?q=pair') pair
                  li
                    a(href='definition?q=couple') couple

block footer
  include ../footer